.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
}

.counter {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
